body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width:100%;
    margin:0px;
}
.note{
    font-size: 15px;
    color:black;
}

h3{
    color:aqua;
    font-size: 23px;
    font-family: 'Courier New';
    font-weight: bold;
}

canvas{
    border:7px solid white;
}